# Required.
# Official OpenAI: use your OpenAI API key.
# Puter: use your Puter auth token.
OPENAI_API_KEY=replace_with_your_api_key_or_puter_token

# Optional.
# Official OpenAI example: gpt-4o-mini
# Puter example: gpt-5.4-nano
OPENAI_MODEL=gpt-5.4-nano

# Optional.
# Leave empty for official OpenAI.
# For Puter, use:
# https://api.puter.com/puterai/openai/v1/
OPENAI_BASE_URL=https://api.puter.com/puterai/openai/v1/

#For Puter format
#OPENAI_USE_RESPONSE_FORMAT=false