#For LLM/VLM access, your group will use LiteLLM with the following configuration:

LITELLM_BASE_URL=URL

LITELLM_API_KEY=KEY

DEFAULT_MODEL=MODEL

#Please use the key responsibly and be mindful of the shared rate limits:
#TPM: 10,000,000
#RPM: 100